.card-img-top {
    width: 27%;
    height: 26vw;
    position: relative;
    left: 37%;
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#title-character{
    position: relative;
    margin-top: 3%; margin-bottom: 3%;
}
