<div class="container" style="text-align: center; ">  
    <div class="vertical-center-row" *ngIf="isInitState">
        <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
        <button class="btn btn-primary"   type="button"  *ngIf="!isLoading" (click)="getDataFromMarvel()">
           Click here to load data from Marvel
        </button>
    </div> 
      <div *ngIf="isCharacterList">
        <router-outlet></router-outlet>
    </div>   
    
    
</div>

<!-- ng add @ng-bootstrap/ng-bootstrap -->