<div class="container" style="text-align: center; "> 
    <div id="title-marvel" *ngIf="isInitState"><h1  >Welcome to Marvel's web application</h1><br>
    <span>{{title}}</span> </div>
    <div class="vertical-center-row" *ngIf="isInitState">
       
        <div class="spinner-frame" *ngIf="isLoading && isInitState"> 
            <div class="spinner-cover"></div> 
            <div class="spinner-bar"></div> 
        </div>
        
        <button class="btn btn-primary"   type="button"  *ngIf="!isLoading && isInitState" (click)="getDataFromMarvel()">
          Load data
        </button>
    </div> 
      <div *ngIf="isCharacterList">
        <router-outlet></router-outlet>
    </div>   
   
    
</div>

<!-- ng add @ng-bootstrap/ng-bootstrap -->